* {
    font-family: 'Noto Serif', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li, a, button {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #282D63;
    text-decoration: none;
}
header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 3%;
}
.logo {
    margin-right: auto;
    cursor: pointer;
    width: 132px;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
     padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    text-decoration: underline;
    color: #282D63;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(40,45,99,1);
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(40,45,99,0.8);
}
.topnav .icon {
    display: none;
  }
h2 {
    color: white;
    position: relative;

}
  .footer-container {
    position: relative;
    top: 200px;
    background-color: #282D63;
    padding: 2rem 0 2rem 0;
}
.stand {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #282D63;
}
.mission {
    border-radius: 10px;
    display: inline-block;
    background-color: #282D63;
    position: relative;
    left: 100px;
    top: 40px;
    width: 40%;
    height: 700px;
    border: 1px solid black;
}
.mission-h2 {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10px;
    font-size: 40px;
    top: 10px;
}
.mission-h3 {
    color: white;
    position: relative;
    top: 80px;
    left: 80px;
    font-size: 30px;
    float: left;
    width: 85%;
}
.ala {
    position: relative;
    top: 200px;
    width: 100%;
    font-size: 40px;
    color: #282D63;
}
.ocean {
border-radius: 10px;
width: 60%;
height: auto;
}
.turtle {
    border-radius: 10px;
    width: 60%;
    height: auto;
        
}
.vision {
    border-radius: 10px;
    display: inline-block;
    width: 40%;
    float: right;
    background-color: #282D63;
    position: relative;
    top: 40px;
    right: 100px;
    height: 700px;
    border: 1px solid black;
}
.vision-h2 {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10px;
    font-size: 40px;
    top: 10px;
}
.vision-h3 {
    color: white;
    position: relative;
    top: 80px;
    left: 75px;
    font-size: 30px;
    width: 85%;

}
/* Float four columns side by side */
.column1 {
    padding: 0 10px 0 20px;
    float: left;
    width: 50%;
  }
  .column2 {
    padding: 0 20px 0 10px;
    float: left;
    width: 50%;
  }
  .column3 {
    float: left;
    width: 33%;
    padding: 0 10px 0 20px;
  }
  .column4 {
    float: left;
    width: 33%;
    padding: 0 10px 0 20px;
  }
  .column5 {
    float: left;
    width: 33%;
    padding: 0 10px 0 20px;
  }
  .column6 {
    display: flex;
    justify-content: center;
    float: left;
    width: 33%;
    padding: 0 10px 0 20px;
  }
  .column7 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    float: left;
    width: 33%;
    padding: 0 20px 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  .row2 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  /* Style the counter cards */
  .card1 {
    position: relative;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
  }
  .card1:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  }
  .card2:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  }
  .card1:before {
    border-radius: 10px;
    content: "";
    background-image: url(../images/ocean.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
  }
  .card2 {
    position: relative;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
  }
  .card2:before {
    border-radius: 10px;
    content: "";
    background-image: url(../images/turtle.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
  }
  .hero {
      height: 1600px;
  }
  h1 {
      display: flex;
      justify-content: center;
      color:#282D63;
      margin-top: 20px;
  }
  .values {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .card3 {
      height: 400px;
    position: relative;
    top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    background-color: #282D63
  }
  .color {
    background-color: #282D63;
  }
.card4 {
    height: 400px;
    position: relative;
    top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    background-color: #282D63
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: #282D63;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2 {
    margin-bottom: 2rem;
}
.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer-heading a:hover {
    text-decoration: underline;
    color: white;
}
.footer-email-form h2 {
    margin-bottom: 2rem;
}
#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.4rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#footer-email::placeholder {
    color: #B1B1B1;
}
#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    outline: none;
    border: none;
    color: #282D63;
    font-size: 1rem;
    cursor: pointer;
}
#footer-email-btn:hover {
    background-color: rgba(255,255,255,0.8);
}
@media screen and (max-width:1250px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4rem;
    }
}
@media screen and (max-width:820px) {
    .footer {
        padding-top: 2rem;
    }
}
@media screen and (max-width:720px) {
    .footer-3 {
        display: none;
    }
    .footer-email-form {
        margin-top: 2rem;
    }
}
@media screen and (max-width:600px) {
    .card1 {
      height: 800px;
    }
    .card2 {
      height: 800px;
    }
    .footer-container {
        height: 680px;
    }
    .footer-3 {
        display: none;
    }
}
h3 {
    font-size: 12px;
    margin-top: 4rem;
}
.top {
    font-size: 43px;
    color: #282D63;
    position: relative;
    top: -40px;
}
.flip-card {
    display: inline-block;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: transperent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .footer-text-A {
    margin-top:0;
  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .one {
    font-size: 30px;
    padding-top: 70px;
  }
  .para1 {
    margin-top: 70px;
  } 
  .para2 {
    margin-top: 80px;
  } 
  .para3 {
    margin-top: 65px;
  } 
  .para4 {
    margin-top: 90px;
  } 
  .para5 {
    margin-top: 65px;
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    border-radius: 10px;
    border: 1px solid #282D63;
    background-color: white;
    color: #282D63;
  }
  
  /* Style the back side */
  .flip-card-back {
    border: 5px solid white;
    border-radius: 10px;
    background-color: #282D63;
    color: white;
    transform: rotateY(180deg);
  }